# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 0 * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      # - uses: gh-metrics/metrics@b5b40a2e96462705511bb058d9be2c02b6725a48
      # - uses: stalomeow/metrics@projects-v2
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org  (for organization related metrics)
          #  - read:user (for user related data)
          #  - repo      (optional, if you want to include private repositories)
          token: ${{ secrets.METRICSGA }}

          # Options
          user: Pakillo
          template: classic
          base: header, activity, community, repositories, metadata
          repositories: 70
          config_timezone: Europe/Madrid
          
          plugin_repositories: yes
          plugin_repositories_featured: Pakillo/grateful, Pakillo/LM-GLM-GLMM-intro, Pakillo/academic-website-template-Quarto, Pakillo/rmdTemplates, Pakillo/template, Pakillo/CityShadeMapper, Pakillo/FloraIberica, Pakillo/rSDM, Pakillo/rgis, Pakillo/DHARMa.helpers, Pakillo/BayesianWebs, Pakillo/network.tools, Pakillo/ANECAtools, Pakillo/journals-software-ecology, EcologyR/labeleR, EcologyR/BlueCarbon, EcologyR/mappestRisk
          
          plugin_achievements: no # failing
          plugin_achievements_display: detailed
          plugin_achievements_secrets: yes
          plugin_achievements_threshold: C
          # plugin_achievements_ignored: stargazer, forker, member, follower, explorer, chatter, automator, infographile, sponsor, deployer, gister, reviewer, manager  
          plugin_achievements_only: developer, contributor, worker, influencer, maintainer, inspirer, polyglot, deployer
          
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_notable: no
          plugin_notable_from: organization
          
          plugin_traffic: yes
          plugin_traffic_skipped: Pakillo/Pakillo, Pakillo/ggdibbler, Pakillo/R-Asturias-DataViz-Contest, Pakillo/Pakillo.r-universe.dev, Pakillo/Sevilla-weather, Pakillo/FloraTraiter, Pakillo/manuscript-template-rstudio, Pakillo/fisim, Pakillo/R-intro, Pakillo/gbifdb, Pakillo/rcompendium, Pakillo/noisy-networks-measurements, Pakillo/TempPart, Pakillo/fact_sheets_aeet, Pakillo/BiodiversityObservationsMiner, Pakillo/slidaRtools, Pakillo/Miscellaneous-R-Code, Pakillo/letter, Pakillo/unilur, Pakillo/zoon, Pakillo/modules, Pakillo/model_selection, Pakillo/model-selection-in-practice, Pakillo/coenocliner

          
